{% extends 'userAccount/base.html' %}

{% block content %}

{% include 'userAccount/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>USERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create USER</a>
			<table class="table table-sm">
				<tr>
					<th>User</th>
					<th>Date Created</th>
				</tr>

				{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>{{user.date_created}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 Tasks</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Task</a>
			<table class="table table-sm">
				<tr>
					<th>Task</th>
					<th>Date Created</th>
					<th>Status</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				{% for condition in conditions %}
					<tr>
						<td>{{condition.task}}</td>
						<td>{{condition.status}}</td>
						<td>{{condition.date_created}}</td>
						<td><a href="">Update</a></td>
						<td><a href="">Delete</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

</div>
{% endblock %}


